<div class="container">
  <div class="container-fluid" style='text-align: center'>
    <div class='button-group'>
      <a mat-button (click)='signInWithGoogle()'>
        <img src='../assets/images/logos/logo-google.svg'>
      </a>
      <a mat-button (click)='signInWithFB()'>
        <img src='../assets/images/logos/logo-facebook.svg'>
      </a>
      <a mat-button>
        <img src='../assets/images/logos/logo-skype.svg'>
      </a>
      <a mat-button (click)='signInWithLinkedIn()'>
        <img src='../assets/images/logos/logo-linkedin.svg'>
      </a>
      <a mat-button (click)='signInWithLinkedIn()'>
        <img src='../assets/images/logos/logo-twitter.svg'>
      </a>
    </div>
  </div>
</div>
